html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    margin: 0 auto;
}

#header h1 {
    font-size: 48px;
}

#userInput {
    text-align: center;
}

#content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
}

#questionDiv {
    background-color: lightblue;
    margin: auto;
    width: 300px;
    /* text-align: center; */
}

#selectDiv {
    background-color: lightblue;
    margin: auto;
    width: 300px;
    /* text-align: center; */
}

#optionsDiv {
    background-color: lightgreen;
    margin: auto;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#singleOptsDiv {
    text-align: right;
    margin: auto;
    width: 265px;
    background-color: rgb(89, 180, 89);
}

#buttonsDiv {
    background-color: lightyellow;
    margin: auto;
    width: 300px;
    /* text-align: center; */
}

#submitDiv {
    background-color: lightsalmon;
    margin: auto;
    width: 300px;
    /* text-align: center; */
}

#backBtn {}